body {
  bgcolor: #111111;
}

header, h1, hr, div, ul, .chatForm {
  padding: 0 0 0 0;
  margin: 6px 6px 6px 6px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: serif;
}

hr {
  height: 2px;
  border: none;
  color: #24890d;
  background-color: #24890d;
}
	  
ul {
  list-style-type: none;
  width: calc(100% - 24px);
}

button, input {
  font-size: 100%;
  max-width: 100%;
  line-height: normal;
}

.chatList {
  position: absolute;
  overflow: auto;
  width: calc(100% - 24px);
  top: 48px;
  bottom: 40px;
  font-family: "Monospace", monospace, serif;
}

.chatBottom {
  position: absolute;
  bottom: 0px;
  width: calc(100% - 24px);
}

.chatText {
  width: calc(100% - 60px);
  height: 24px;
}

.chattBtn {
  width: 120px;
  height: 24px;
}
